[package]
name = "symbolicator"
version = "0.3.2"
authors = ["Sentry <hello@getsentry.com>"]
edition = "2018"
license = "MIT"
include = ["src/**/*", "Cargo.toml", "README.md"]
readme = "README.md"

[dependencies]
actix = "0.7.9"
actix-web = { version = "0.7.19", features = ["tls"], default-features = false }
anyhow = "1.0.32"
apple-crash-report-parser = "0.4.2"
backtrace = "0.3.53"
base64 = "0.11.0"
bytes = { version = "0.4.12", features = ["serde"] }
cadence = "0.18.0"
chrono = { version = "0.4.19", features = ["serde"] }
console = "0.10.0"
crc32fast = "1.2.0"
derive_more = "0.15.0"
env_logger = "0.7.1"
failure = "0.1.6"
flate2 = "1.0.14"
fragile = "1.0.0" # used for vendoring sentry-actix
futures = { version = "0.3", features = ["compat"] }
futures01 = { version = "0.1.29", package = "futures" }
glob = "0.3.0"
humantime-serde = "1.0.0"
ipnetwork = "0.16.0"
# needed for gcs, see https://github.com/Keats/jsonwebtoken/pull/89
jsonwebtoken = { git = "https://github.com/Keats/jsonwebtoken", rev = "b8627260b2902a1ab4fdda83083be3e0b0fb9b7f" }
lazy_static = "1.4.0"
log = { version = "0.4.8", features = ["serde"] }
lru = "0.4.3"
num_cpus = "1.12.0"
parking_lot = "0.10.0"
pretty_env_logger = "0.4.0"
procspawn = { version = "0.9.0", features = ["backtrace", "json"] }
regex = "1.3.3"
reqwest = { version = "0.11.0", features = ["json", "stream"] }
rusoto_core = "0.46.0"
rusoto_credential = "0.46.0"
rusoto_s3 = "0.46.0"
sentry = { version = "0.21.0", features = ["debug-images", "failure", "log"] }
serde = { version = "1.0.101", features = ["derive", "rc"] }
serde_json = "1.0.45"
serde_yaml = "0.8.11"
structopt = "0.3.2"
symbolic = { git = "https://github.com/getsentry/symbolic", branch = "fix/demangle-fixes", features = ["common-serde", "demangle", "minidump-serde", "symcache"] }
tempfile = "3.1.0"
thiserror = "1.0.20"
tokio01 = { version = "0.1.22", package = "tokio" }
tokio-retry = "0.2.0"
url = "1.7.2"
url_serde = "0.2.0"
uuid = { version = "0.8.1", features = ["v4", "serde"] }
zstd = "0.5.1"

[dev-dependencies]
insta = "1.3.0"
procspawn = { version = "0.9.0", features = ["test-support"] }
sha-1 = "0.9.2"

[profile.dev]
# Debug information slows down the build and increases caches in the
# target folder, but we don't require stack traces in most cases.
debug = false

[profile.release]
# In release, however, we do want full debug information to report
# panic and error stack traces to Sentry.
debug = true
