[package]
name = "symbolicator"
version = "0.1.0"
authors = ["Sentry <hello@getsentry.com>"]
edition = "2018"
license = "MIT"
include = ["src/**/*", "Cargo.toml", "README.md"]
readme = "README.md"

[dependencies]
actix-connect = "0.2.1"
actix-multipart = "0.1.2"
actix-rt = "0.2.4"
actix-service = "0.4.1"
actix-web = { version = "1.0.3", features = ["ssl", "brotli", "flate2-zlib", "secure-cookies", "client"], default-features = false }
apple-crash-report-parser = "0.3.1"
failure = "0.1.5"
serde = { version = "1.0.95", features = ["derive", "rc"] }
futures = "0.1.28"
bytes = "0.4.12"
url = "1.7.2"
derive_more = "0.15.0"
url_serde = "0.2.0"
log = { version = "0.4.7", features = ["serde"] }
tempfile = "3.1.0"
env_logger = "0.6.2"
structopt = "0.2.18"
serde_yaml = "0.8.9"
void = "1.0.2"
tokio-threadpool = "0.1.15"
cadence = "0.17.1"
lazy_static = "1.3.0"
parking_lot = "0.9.0"
tokio = "0.1.22"
uuid = "0.7.4"
symbolic = { git = "https://github.com/getsentry/symbolic", rev = "32df00067d53e57309b7015a9bf1f62d9d011020", features = ["common-serde", "demangle", "minidump-serde", "symcache"] }
sentry = "0.15.5"
rusoto_s3 = "0.40.0"
rusoto_core = "0.40.0"
rusoto_credential = "0.40.0"
lru = "0.1.15"
pretty_env_logger = "0.3.0"
console = "0.7.7"
serde_json = "1.0.40"
chrono = "0.4.7"
zstd = "0.4.24"
flate2 = "1.0.9"
glob = "0.3.0"
itertools = "0.8.0"
tokio-retry = "0.2.0"
# needed for gcs, see https://github.com/Keats/jsonwebtoken/pull/89
jsonwebtoken = { git = "https://github.com/Keats/jsonwebtoken", rev = "b8627260b2902a1ab4fdda83083be3e0b0fb9b7f" }
base64 = "0.10.1"
ipnetwork = "0.14.0"

[dev-dependencies]
insta = "0.8.1"
