[package]
name = "symbolicator"
version = "0.1.0"
authors = ["Sentry <hello@getsentry.com>"]
edition = "2018"
license = "MIT"
include = ["src/**/*", "Cargo.toml", "README.md"]
readme = "README.md"

[dependencies]
actix-web = { version = "0.7.19", features = ["tls"] }
actix = "0.7.9"
failure = "0.1.5"
serde = { version = "1.0.90", features = ["derive", "rc"] }
futures = "0.1.26"
bytes = "0.4.12"
url = { version = "1.7.2" }
derive_more = "0.14.0"
url_serde = "0.2.0"
log = { version = "0.4.6", features = ["serde"] }
tempfile = "3.0.7"
env_logger = "0.6.1"
structopt = "0.2.15"
serde_yaml = "0.8.8"
void = "1.0.2"
tokio-threadpool = "0.1.13"
cadence = "0.17.1"
lazy_static = "1.3.0"
parking_lot = "0.7.1"
tokio = "0.1.18"
uuid = "0.7.4"
symbolic = { version = "6.1.0", features = ["common-serde", "demangle", "minidump", "symcache"] }
sentry = "0.15.2"
sentry-actix = "0.15.2"
rusoto_s3 = "0.37.0"
rusoto_core = "0.37.0"
rusoto_credential = "0.16.0"
lru = "0.1.15"
pretty_env_logger = "0.3.0"
console = "0.7.5"
serde_json = "1.0.39"
chrono = "0.4.6"
zstd = "0.4.22+zstd.1.3.8"
flate2 = "1.0.7"

[build-dependencies]
git-version = "0.2.1"
