[package]
name = "symbolicator"
version = "0.1.0"
authors = ["Sentry <hello@getsentry.com>"]
edition = "2018"
license = "MIT"
include = ["src/**/*", "Cargo.toml", "README.md"]
readme = "README.md"

[dependencies]
actix-web = { version = "0.7.19", features = ["tls"], default-features = false }
actix = "0.7.9"
apple-crash-report-parser = "0.4.0"
failure = "0.1.6"
serde = { version = "1.0.101", features = ["derive", "rc"] }
futures = { version = "0.3", features = ["compat"] }
futures01 = { version = "0.1.29", package = "futures" }
bytes = { version = "0.4.12", features = ["serde"] }
procspawn = { version = "0.9.0", features = ["backtrace", "json"] }
url = "1.7.2"
derive_more = "0.15.0"
url_serde = "0.2.0"
log = { version = "0.4.8", features = ["serde"] }
tempfile = "3.1.0"
env_logger = "0.7.1"
structopt = "0.3.2"
serde_yaml = "0.8.11"
cadence = "0.18.0"
lazy_static = "1.4.0"
parking_lot = "0.10.0"
tokio = "0.1.22"
uuid = { version = "0.8.1", features = ["v4", "serde"] }
symbolic = { version ="7.3.0", features = ["common-serde", "demangle", "minidump-serde", "symcache"] }
sentry = { version = "0.18.0", features = ["with_debug_meta"] }
sentry-actix = "0.18.0"
rusoto_s3 = "0.40.0"
rusoto_core = "0.40.0"
rusoto_credential = "0.40.0"
lru = "0.4.3"
pretty_env_logger = "0.4.0"
console = "0.10.0"
serde_json = "1.0.45"
chrono = "0.4.9"
zstd = "0.5.1"
flate2 = "1.0.14"
glob = "0.3.0"
tokio-retry = "0.2.0"
# needed for gcs, see https://github.com/Keats/jsonwebtoken/pull/89
jsonwebtoken = { git = "https://github.com/Keats/jsonwebtoken", rev = "b8627260b2902a1ab4fdda83083be3e0b0fb9b7f" }
base64 = "0.11.0"
ipnetwork = "0.16.0"
regex = "1.3.3"
crc32fast = "1.2.0"
num_cpus = "1.12.0"

[dev-dependencies]
insta = "0.11.0"
procspawn = { version = "0.9.0", features = ["test-support"] }

[profile.release]
debug = true
