[workspace]
resolver = "2"
members = ["crates/*"]
default-members = [
    "crates/symbolicator",
    "crates/symbolicli",
    "crates/symsorter",
    "crates/wasm-split",
]

[profile.dev]
# For debug builds, we do want to optimize for both debug-ability, and fast iteration times.
# To de able to "Debug Test", we do need full debug info.
# However especially on MacOS, incremental build times are primarily dominated by linking time.
# To help with that, one can try using `lld` as linker by adding the following to `.cargo/config.toml`:
# [build]
# rustflags = ["-C", "linker-flavor=ld64.lld"]
# OR (which I believe is equivalent):
# rustflags = ["-C", "link-arg=-fuse-ld=lld"]

[profile.release]
# For release builds, we do want line-only debug information to be able to symbolicate panic stack traces.
debug = 1

[profile.release-lto]
inherits = "release"
codegen-units = 1
lto = true

[profile.local]
# For running a local symbolicator, we want the best of both worlds: a fast executable, with quick
# iteration times.
# You can compile/run this with: `cargo run --profile local -- --config local.yml run`
inherits = "release"
debug = false
incremental = true
codegen-units = 256

[patch.crates-io]
# This patch adds an `ip_filter` able to filter out internal IP addresses in DNS resolution
reqwest = { git = "https://github.com/getsentry/reqwest", branch = "restricted-connector" }

# This patch adds limited "templated lambdas" demangling support
cpp_demangle = { git = "https://github.com/getsentry/cpp_demangle", branch = "sentry-patches" }

# For local development: uncomment the following three lines (and adjust the path if necessary)
# to use a local symbolic checkout everywhere.
# This only works for the very specific crate listed here, and not for its dependency tree.
# Alternatively, the whole dependency tree can be changed at once by putting this line into
# `crates/symbolicator/Cargo.toml`:
# symbolic = { path = "../../../symbolic/symbolic", features = ["common-serde", "debuginfo", "demangle", "minidump-serde", "symcache"] }
# See also https://doc.rust-lang.org/cargo/reference/overriding-dependencies.html
# [patch.crates-io]
# symbolic-debuginfo = { path = "../symbolic/symbolic-debuginfo" }


[workspace.dependencies]
reqwest = "0.12.2"
symbolic = "12.13.2"
tokio = "1.36.0"
tokio-metrics = "0.3.1"
tokio-util = "0.7.10"
