[package]
name = "symbolicator"
version = "0.1.0"
authors = ["Markus Unterwaditzer <markus@unterwaditzer.net>"]
edition = "2018"
license = "MIT"
include = ["src/**/*", "Cargo.toml", "README.md"]
readme = "README.md"

[dependencies]
actix-web = { version = "0.7.18", features = ["tls"] }
actix = "0.7.9"
failure = "0.1.5"
serde = { version = "1.0.87", features = ["derive"] }
futures = "0.1.25"
bytes = "0.4.11"
url = { version = "1.7.2", features = ["serde"] }
derive_more = "0.14.0"
url_serde = "0.2.0"
log = "0.4.6"
tempfile = "3.0.7"
env_logger = "0.6.0"
structopt = "0.2.14"
serde_yaml = "0.8.8"
void = "1.0.2"
tokio-threadpool = "0.1.12"
cadence = "0.16.0"
lazy_static = "1.3.0"
parking_lot = "0.7.1"
tokio = "0.1.17"
uuid = "0.7.2"
symbolic = { version = "6.0.3", features = ["symcache", "common-serde", "minidump"] }
