[package]
name = "symbolicli"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.66"
clap = { version = "4.0.25", features = ["derive"] }
dirs = "4.0.0"
prettytable-rs = "0.9.0"
reqwest = { version = "0.11.12", features = ["json"] }
serde = { version = "1.0.137", features = ["derive", "rc"] }
serde_json = "1.0.81"
serde_yaml = "0.9.14"
symbolic = "10.1.2"
symbolicator-service = { path = "../symbolicator-service" }
symbolicator-sources = { path = "../symbolicator-sources" }
tempfile = "3.3.0"
tokio = { version = "1.18.1", features = ["rt-multi-thread", "macros", "time", "sync"] }
toml = "0.5.9"
tracing = "0.1.37"
tracing-subscriber = { version = "0.3.16", features = ["tracing-log", "local-time", "env-filter", "json"] }
url = "2.3.1"
