[package]
name = "process-event"
publish = false
version = "24.2.0"
authors = ["Sentry <hello@getsentry.com>"]
edition = "2021"
license = "MIT"

[dependencies]
anyhow = "1.0.57"
clap = { version = "4.3.2", features = ["derive"] }
reqwest = { version = "0.11.0", features = ["blocking", "json", "multipart", "trust-dns"] }
serde = { version = "1.0.137", features = ["derive"] }
serde_json = "1.0.81"
symbolic-common = "12.7.1"
