[package]
name = "symsorter"
version = "0.4.1"
authors = ["Sentry <hello@getsentry.com>"]
edition = "2021"

[dependencies]
anyhow = "1.0.56"
chrono = { version = "0.4.19", features = ["serde"] }
console = "0.15.0"
lazy_static = "1.4.0"
rayon = "1.5.2"
regex = "1.5.5"
serde = { version = "1.0.119", features = ["derive"] }
serde_json = "1.0.61"
structopt = "0.3.21"
symbolic = { git = "https://github.com/getsentry/symbolic", branch = "fix/demangle-fixes", features = ["debuginfo-serde"] }
walkdir = "2.3.1"
zip = "0.5.11"
zstd = "0.11.1"
