[package]
name = "symbolicator-sources"
publish = false
version = "24.11.0"
authors = ["Sentry <hello@getsentry.com>"]
edition = "2021"
license = "MIT"

[dependencies]
anyhow = "1.0.68"
aws-types = "1.0.1"
glob = "0.3.0"
serde = { version = "1.0.137", features = ["derive", "rc"] }
symbolic = "12.12.0"
url = { version = "2.2.0", features = ["serde"] }

[dev-dependencies]
insta = { version = "1.18.0", features = ["redactions", "yaml"] }
once_cell = "1.18.0"
serde_yaml = "0.9.14"
