[package]
name = "symbolicator"
version = "0.5.1"
authors = ["Sentry <hello@getsentry.com>"]
edition = "2021"
license = "MIT"

[features]
https = ["axum-server/tls-rustls", "symbolicator-service/https"]

[dependencies]
anyhow = "1.0.57"
axum = { version = "0.5.4", features = ["multipart"] }
axum-server = "0.4.2"
console = "0.15.0"
futures = "0.3.12"
hostname = "0.3.1"
sentry = { version = "0.28.0", features = ["anyhow", "debug-images", "tracing", "tower", "tower-http"] }
serde = { version = "1.0.137", features = ["derive", "rc"] }
serde_json = "1.0.81"
structopt = "0.3.21"
symbolic = "10.0.0"
symbolicator-service = { path = "../symbolicator-service" }
symbolicator-sources = { path = "../symbolicator-sources" }
tempfile = "3.2.0"
tokio = { version = "1.18.1", features = ["rt-multi-thread", "macros", "fs"] }
tokio-util = { version = "0.7.1", features = ["io"] }
tower = "0.4"
tower-layer = "0.3"
tokio-metrics = "0.1.0"
thiserror = "1.0.31"
tower-service = "0.3"
uuid = { version = "1.0.0", features = ["v4", "serde"] }
tracing = "0.1.34"
tracing-subscriber = { version = "0.3.11", features = ["tracing-log", "local-time", "env-filter", "json"] }

[dev-dependencies]
insta = { version = "1.18.0", features = ["redactions", "yaml"] }
reqwest = { version = "0.11.0", features = ["multipart"] }
symbolicator-test = { path = "../symbolicator-test" }

[target.'cfg(not(target_env = "msvc"))'.dependencies]
jemallocator = { version = "0.5", features = ["unprefixed_malloc_on_supported_platforms"] }
