[package]
name = "symbolicator"
version = "0.4.1"
authors = ["Sentry <hello@getsentry.com>"]
edition = "2021"
license = "MIT"

[dependencies]
anyhow = "1.0.56"
apple-crash-report-parser = "0.4.2"
async-trait = "0.1.53"
axum = { version = "0.5.1", features = ["multipart"] }
backtrace = "0.3.55"
base64 = "0.13.0"
cadence = "0.29.0"
chrono = { version = "0.4.19", features = ["serde"] }
console = "0.15.0"
filetime = "0.2.14"
flate2 = "1.0.23"
futures = "0.3.12"
gcp_auth = { git = "https://github.com/getsentry/gcp_auth", branch = "sentry-main" }
glob = "0.3.0"
hostname = "0.3.1"
humantime-serde = "1.1.1"
ipnetwork = "0.18.0"
jsonwebtoken = "8.0.1"
lazy_static = "1.4.0"
lru = "0.7.4"
minidump = "0.10.2"
minidump-processor = { version = "0.10.2", features = ["symbolic-syms"] }
num_cpus = "1.13.0"
parking_lot = "0.12.0"
procspawn = { version = "0.10.0", features = ["backtrace", "json"] }
regex = "1.5.5"
reqwest = { git = "https://github.com/jan-auer/reqwest", tag = "v0.11.0", features = ["gzip", "json", "stream", "trust-dns"] }
rusoto_core = "0.47.0"
rusoto_credential = "0.47.0"
rusoto_s3 = "0.47.0"
sentry = { version = "0.25.0", features = ["anyhow", "debug-images", "log", "tracing"] }
sentry-tower = { version = "0.25.0", features = ["http"] }
serde = { version = "1.0.119", features = ["derive", "rc"] }
serde_json = "1.0.61"
serde_yaml = "0.8.15"
structopt = "0.3.21"
symbolic = { git = "https://github.com/getsentry/symbolic", branch = "fix/demangle-fixes", features = ["common-serde", "debuginfo", "demangle", "symcache"] }
symbolic-minidump = { git = "https://github.com/getsentry/symbolic", branch = "fix/demangle-fixes", default-features = false}
tempfile = "3.2.0"
thiserror = "1.0.26"
tokio = { version = "1.0.2", features = ["rt", "macros", "fs"] }
tokio-metrics = "0.1.0"
tokio-util = { version = "0.7.1", features = ["io"] }
tower = "0.4"
tower-layer = "0.3"
tower-service = "0.3"
tracing = "0.1.32"
tracing-subscriber = { version = "0.3.10", features = ["tracing-log", "local-time", "env-filter", "json"] }
url = { version = "2.2.0", features = ["serde"] }
uuid = { version = "0.8.2", features = ["v4", "serde"] }
zstd = "0.11.1"

[dev-dependencies]
insta = { version = "1.14.0", features = ["redactions"] }
procspawn = { version = "0.10.0", features = ["test-support"] }
reqwest = { git = "https://github.com/jan-auer/reqwest", tag = "v0.11.0", features = ["multipart"] }
sha-1 = "0.10.0"
test-assembler = "0.1.5"
warp = "0.3.0"
