[package]
name = "symbolicator-proguard"
publish = false
version = "24.3.0"
authors = ["Sentry <hello@getsentry.com>"]
edition = "2021"
license = "MIT"

[dependencies]
futures = "0.3.12"
proguard = "5.4.0"
serde = { version = "1.0.137", features = ["derive", "rc"] }
serde_json = "1.0.81"
symbolic = "12.8.0"
symbolicator-service = { path = "../symbolicator-service" }
symbolicator-sources = { path = "../symbolicator-sources" }
tempfile = "3.10.0"
tracing = "0.1.34"

[dev-dependencies]
symbolicator-test = { path = "../symbolicator-test" }
tokio = { version = "1.24.2", features = ["rt", "macros", "fs"] }
