name: CI

on:
  push:
    branches:
      - master
      - release/**

  pull_request:

env:
  RUSTFLAGS: -Dwarnings

jobs:
  lints:
    name: Lints
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Install python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Install python dependencies
        run: pip install --upgrade black flake8

      - name: Run Black
        run: black --check --diff tests

      - name: Run Flake8
        run: flake8 tests

      - name: Install rust stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          components: rustfmt, clippy
          override: true

      - name: Cache rust cargo artifacts
        uses: swatinem/rust-cache@v1

      - name: Run cargo fmt
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check

      - name: Run clippy
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --all-features --workspace --tests --examples

  unit-test:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Install rust stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true

      - name: Cache rust cargo artifacts
        uses: swatinem/rust-cache@v1

      - name: Run cargo test
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --workspace --all-features --locked
        env:
          SENTRY_SYMBOLICATOR_GCS_CLIENT_EMAIL: ${{ secrets.SENTRY_SYMBOLICATOR_GCS_CLIENT_EMAIL }}
          SENTRY_SYMBOLICATOR_GCS_PRIVATE_KEY: ${{ secrets.SENTRY_SYMBOLICATOR_GCS_PRIVATE_KEY }}
          SENTRY_SYMBOLICATOR_TEST_AWS_ACCESS_KEY_ID: ${{ secrets.SENTRY_SYMBOLICATOR_TEST_AWS_ACCESS_KEY_ID }}
          SENTRY_SYMBOLICATOR_TEST_AWS_SECRET_ACCESS_KEY: ${{ secrets.SENTRY_SYMBOLICATOR_TEST_AWS_SECRET_ACCESS_KEY }}
          GOOGLE_APPLICATION_CREDENTIALS_JSON: ${{ secrets.GOOGLE_APPLICATION_CREDENTIALS_JSON }}

  integration-test:
    name: Integration Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Install rust stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true

      - name: Cache rust cargo artifacts
        uses: swatinem/rust-cache@v1

      - name: Build rust
        run: cargo build --locked

      - name: Install python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Setup python environment
        run: pip install --upgrade pytest pytest-localserver requests pytest-xdist pytest-icdiff boto3

      - name: Integration tests
        run: pytest -n12 -vv tests/integration

  test_against_latest_sentry:
    name: Sentry-Symbolicator Integration Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Symbolicator
        uses: actions/checkout@v2

      - name: Install rust stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true

      - name: Cache rust cargo artifacts
        uses: swatinem/rust-cache@v1

      - name: Build Symbolicator
        run: cargo build --locked

      - name: Run Symbolicator
        run: ./target/debug/symbolicator run &

      # Checkout Sentry and run integration tests against latest Symbolicator
      - name: Checkout sentry
        uses: actions/checkout@v2
        with:
          repository: getsentry/sentry
          path: sentry

      - name: Setup steps
        id: setup
        run: |
          # We cannot execute actions that are not placed under .github of the main repo
          mkdir -p .github/actions/
          cp -r sentry/.github/actions/setup-sentry .github/actions/
          cp -r sentry/.github/actions/setup-python .github/actions/

      - name: Setup Sentry
        uses: ./.github/actions/setup-sentry
        with:
          workdir: sentry
          kafka: true
          snuba: true
          cache-files-hash: ${{ hashFiles('sentry/requirements**.txt') }}
          python-version: 3.8

      - name: Run Sentry's Symbolicator integration tests
        working-directory: sentry
        run: |
          make test-symbolicator

  doc-comments:
    name: Rust doc comments
    runs-on: ubuntu-latest
    env:
      RUSTDOCFLAGS: -Dwarnings
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Install rust stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          components: rust-docs
          override: true

      - name: Cache rust cargo artifacts
        uses: swatinem/rust-cache@v1

      - uses: actions-rs/cargo@v1
        with:
          command: doc
          args: --workspace --all-features --document-private-items --no-deps

  docs:
    name: Build docs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Setup python dependencies
        run: pip install --upgrade mkdocs mkdocs-material pygments

      - name: Build Docs
        run: mkdocs build

  # Code coverage instrumentation is current broken in recent Rust nightlies,
  # as they fail processing with the following error:
  # `Failed to load coverage: Truncated coverage data`
  # https://github.com/taiki-e/cargo-llvm-cov/issues/128
  codecov:
    name: Code Coverage
    runs-on: ubuntu-latest
    continue-on-error: true # well, its nightly and highly experimental

    steps:
      - uses: actions/checkout@v2

      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly-2022-01-14
          components: llvm-tools-preview
          override: true

      - uses: Swatinem/rust-cache@v1

      - uses: taiki-e/install-action@cargo-llvm-cov

      - run: cargo llvm-cov --all-features --workspace --doctests --lcov --output-path lcov.info

      - uses: codecov/codecov-action@e156083f13aff6830c92fc5faa23505779fbf649
        with:
          files: lcov.info
