name: Publish Docs

on:
  push:
    branches:
      - master


permissions:
  contents: write
  pull-requests: write
jobs:
  docs:
    name: Publish Docs
    runs-on: ubuntu-latest

    steps:
      - name: Checkout sources
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: astral-sh/setup-uv@884ad927a57e558e7a70b92f2bccf9198a4be546 # v6

      - uses: getsentry/action-setup-venv@5a80476d175edf56cb205b08bc58986fa99d1725 # v3.2.0
        with:
          cache-dependency-path: uv.lock
          install-cmd: uv sync --frozen --only-dev --active

      - name: Build Docs
        run: |
          mkdocs build
          touch site/.nojekyll

      - name: Publish
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./site
