name: Publish Docs

on:
  push:
    branches:
      - master

jobs:
  docs:
    name: Publish Docs
    runs-on: ubuntu-latest

    steps:
      - name: Checkout sources
        uses: actions/checkout@v6.0.0

      - uses: astral-sh/setup-uv@884ad927a57e558e7a70b92f2bccf9198a4be546 # v6

      - uses: getsentry/action-setup-venv@6e8aebf461914919d9de6e3082669d6bfecc400c # v3.1.0
        with:
          python-version: 3.13.5
          cache-dependency-path: uv.lock
          install-cmd: uv sync --frozen --only-dev --active

      - name: Build Docs
        run: |
          mkdocs build
          touch site/.nojekyll

      - name: Publish
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./site
