name: Update Dependencies

on:
  # Run every Monday at 3am.
  schedule:
    - cron: '0 3 * * 1'
  # Allow a manual trigger to be able to run the update when there are new dependencies or after a PR merge to resolve CHANGELOG conflicts.
  workflow_dispatch:


permissions:
  contents: write
  pull-requests: write
jobs:
  native:
    uses: getsentry/github-workflows/.github/workflows/updater.yml@v3
    with:
      path: crates/symbolicator-crash/sentry-native
      name: Native SDK
    secrets:
      api-token: ${{ secrets.CI_DEPLOY_KEY }}
