name: Weekly CI

on:
  schedule:
    - cron: "0 0 * * 1" # every monday at 00:00
  workflow_dispatch:

env:
  RUSTFLAGS: -Dwarnings

jobs:
  weekly-ci:
    strategy:
      fail-fast: false
      matrix:
        rust: [nightly, beta]

    runs-on: ubuntu-latest

    steps:
      - name: Install libcurl-dev
        run: |
          sudo apt update
          sudo apt-get install -y libcurl4-openssl-dev

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6 # v2.0.1
        with:
          submodules: recursive

      - name: Install rust stable toolchain
        run: |
          rustup toolchain install ${{ matrix.rust }} --profile minimal --component clippy --no-self-update
          rustup default ${{ matrix.rust }}

      - run: cargo clippy --all-features --workspace --tests --examples -- -D clippy::all

      - run: cargo test --workspace --all-features

  weekly-audit:
    name: Audit
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6 # v2.0.1

      # FIXME: find a maintained alternative to audit-check
      - uses: actions-rs/audit-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
